<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <msr_agentic_ucp>
            <general>
                <enabled>1</enabled>
            </general>
            <defaults>
                <require_human_confirmation>1</require_human_confirmation>
                <rate_limit_per_minute>30</rate_limit_per_minute>
                <max_order_value>500</max_order_value>
                <audit_log>1</audit_log>
                <ttl_seconds>3600</ttl_seconds>
            </defaults>
        </msr_agentic_ucp>
    </default>
</config>
